
body {
    margin: 0px;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightblue;
    align-items: center;
    padding: 0 5px; 
}

header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}


header nav {
    width: 60%;
}

header a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.accueil {
    width: 800px;
    height: 300px;
    border: 2px solid blue;
    text-align: center;
    margin-top: 100px;
    margin-left: 300px;
    border-radius: 40px;
    

}

section p {
    font-size: 30px;
}